.MmessageBackground {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  padding-top: 10px;
}
.MchatMsg {
  display: grid;
}
.MheadImg {
  width: 25%;
  /* height: 20%; */
  align-self: center;
}
.MaiTitle {
  align-self: center;
}
.MmicBackground {
  /* height: 10%; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.MfeedBackground {
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
